/*--------------------Fonts--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*--------------------Global CSS 0F4C81--------------------*/
:root {
    --main-color: #ffffff;
    --secondary-color: #2F3D50;
    --tertiary-color: #ffffff;
    --bg-dark: #ffffff;
    --main-to-dark-color: var(--secondary-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-000: #ffffff;
    --black-100: #2F3D50;
    --black-400: #ffffff;
    --black-900: #ffffff;
    --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #2F3D50;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

.btn-2 {
    background-color: #0077E5;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
}

.btn-2:focus {
    box-shadow: var(--shadow-black-100);
}

.btn-2:hover {
    color: #0077E5;
    background-color: #ffffff;
}


@keyframes spin_01 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceTop_01 {
    0%,
    100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0px);
    }
}

@keyframes pulse_01 {
    0% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes zoomInOut_01 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.section-padding {
    padding: 50px 0;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}


/*--------------------Preloader--------------------*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2100;
    background-color: var(--main-to-dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader span {
    display: block;
    height: 60px;
    width: 60px;
    background-color: var(--dark-to-main-color);
    border-radius: 50%;
    animation: zoomInOut_01 1s ease infinite;
}


/*--------------------Navbar--------------------*/
.navbar {
    display: flex;
    background-color: transparent;
    padding: 20px 0;
    transition: all 0.5s ease;
    height: 75px;
}

.navbar.navbar-shrink {
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
    background-color: #2F3D50;
    padding: 10px 0;
}

.navbar > .container {
    padding: 0 15px;
}

.navbar .navbar-brand {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    padding-right: 10px;
}


.navbar .nav-item {
    margin-right: 40px;
}

.navbar .nav-item .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    padding: 5px 0;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.navbar .nav-item .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    background-color: #0077E5;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}

.navbar .nav-item .nav-link.active {
    font-weight: 600;
}

.flags {
    display: flex;
}

.flags img {
    width: 30px;
    height: 20px;
    margin-left: 10px;
}


/*--------------------Hero Section--------------------*/
.hero {
    min-height: 100vh;
    padding: 90px 0;
    background-color: #2F3D50;
    background-attachment: local;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.hero .hero-text img {
    margin: 0 0 30px;
}

.hero .hero-text h1 {
    font-size: 36px;
    font-weight: 700;
    color: var(--tertiary-color);
    margin: 0 0 20px;
}

.hero .hero-btn {
    margin-top: 40px;
}

.hero-text p {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 300;
    text-align: justify;
}

.hero-img-1 img,
.hero-img-2 img {
    max-width: 350px;
    width: 70%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 30px;
}

.hero-img-1,
.hero-img-2 {
    position: relative;
    animation: bounceTop_01 3s ease infinite;
}

.hero-img-1 {
    left: 90px;
}

.hero-img-2 {
    right: 40px;
}


/*--------------------Arrow Section--------------------*/
.arrow {
    padding: 15px 0;
    text-align: center;
    font-size: 35px;
    bottom: 0%;
    width: 100%;
    position: absolute;
    z-index: 100;
}

.arrow .row i {
    color: #ffffff;
    transition: all 0.5s ease;
}

.arrow .row i:hover {
    color: #0077E5;
}


/*--------------------About us Section--------------------*/
.about-us .section-title {
    margin-bottom: 20px;
}

.about-us .section-title h2 {
    text-align: center;
    font-size: 48px;
}

#carouselIndicators {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    flex: 0 0 auto; 
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.about-text {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    font-weight: 300;
    text-align: justify;
    padding-right: 150px;
}

.hero-img-4 img,
.hero-img-5 img,
.hero-img-6 img {
    max-width: 350px;
    width: 70%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 23px;
    margin-left: 80px;
}

.hero-img-4
.hero-img-5
.hero-img-6 {
    position: relative;
}


.carousel-indicators .active {
    background-color: #0077E5;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #0077E5;
}






/*--------------------Contact Us Section--------------------*/
.contact .section-title {
    padding: 40px 0 20px;
    margin-bottom: auto;
}

.contact .section-title h2 {
    text-align: center;
    font-size: 48px;
}



/*--------------------Footer--------------------*/
.footer {
    background-color: var(--secondary-color);
    padding: 80px 0 0;
}

.btn-outline {
    border-color: #ffffff;
}

.btn-outline:focus {
    box-shadow: var(--shadow-black-300);
}

.footer-col .btn-outline {
    margin-top: 30px;
    margin-left: 60px;
}

.footer-col h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 25px;
    text-transform: capitalize;
}

.footer-col p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    line-height: 26px;
    margin: 0;
}

.footer-col ul {
    margin: 0;
    padding: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    display: block;
    text-transform: capitalize;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-col ul li a:hover {
    padding-left: 5px;
}

.footer .copyright-text {
    margin: 50px 0 0;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}






/*--------------------Responsive--------------------*/
@media (max-width: 1200px) {
    .navbar .nav-item {
        margin-right: 30px;
    }

    .navbar .nav-item .nav-link {
        font-size: 14px;
    }

    .create-item {
        padding: 5px;
    }

    .contact-plan .contact-body {
        padding: 0;
    }

}


@media (max-width: 991px) {
    .navbar-collapse {
        background-color: var(--secondary-color);
        box-shadow: var(--shadow-black-400);
        padding: 20px 20px;
    }

    .about-us .section-title h2 {
        font-size: 40px;
    }

    .contact .section-title h2 {
        font-size: 40px;
    }

    .hero-img-1 img,
    .hero-img-2 img {
        margin: 15px;
    }

    .hero-img-1 {
        left: -40px;
    }

    .hero-img-2 {
        left: 25px;
    }

    .about-text {
        padding-right: 81px;
    }

    .about-us-text h2 {
        font-size: 25px;
    }

    .carousel-item {
        flex: 0 0 100%; /* Em tablets, dois itens por vez */
    }

    .hero-img-4 img,
    .hero-img-5 img,
    .hero-img-6 img {
        padding: 0;
        margin-left: 85px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .create-item,
    .app-download-item,
    .contact-plan,
    .footer-col {
        margin-bottom: 30px;
    }

    .footer-col .btn-outline {
        margin-top: 0;
        margin-left: 0;
    }

}


@media (max-width: 767px) {
    .navbar-collapse {
        background-color: var(--secondary-color);
        box-shadow: var(--shadow-black-400);
        padding: 20px 20px;
    }

    .about-us .section-title h2 {
        font-size: 35px;
    }

    .contact .section-title h2 {
        font-size: 35px;
    }

    .hero-img-1,
    .hero-img-2 {
        width: 300px;
        display: inline-flex;
    }

    .carousel-item {
        flex: 0 0 100%; /* No mobile, um item por vez */
    }
    
    .about-text {
        padding: 15px;
    }

    .about-text p {
        font-size: 17px;
        text-align: justify;
        padding: 10px;
        margin: 15px;
    }

    .section-title h2 {
        text-align: center;
        margin-top: 25px;
    }

    .carousel-inner img {
        max-width: 100%;
        margin: 4px;
        padding: 35px;
    }


}


@media (max-width: 575px) {
    .container {
        padding: 0 15px;
    }

    .navbar-collapse {
        background-color: var(--secondary-color);
        box-shadow: var(--shadow-black-400);
        padding: 20px 20px;
    }

    .navbar .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .about-us .section-title h2 {
        font-size: 30px;
    }

    .contact .section-title h2 {
        font-size: 30px;
    }

    .hero .hero-text {
        text-align: center;
        margin-top: 5px;
    }

    .hero .hero-text h1 {
        font-size: 33px;
        margin: 0 0 20px;
    }

    .hero .hero-text p {
        line-height: 20px;
    }

    .about-us img {
        max-width: 350px;
    }

    .about-text p {
        font-size: 16px;
        padding: 21px;
        margin: 15px;
    }
}